__pycache__/
*.pyc
.DS_Store
out
website/
docs-minimind/
dataset/*.jsonl
download.sh
upload.sh
checkpoints
bak
scripts/minimind-math-v3/*.json
scripts/minimind-math-v3/*.jinja
scripts/minimind-math-v3/model.safetensors
